In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
url = ('https://query.data.world/s/wh6j7rxy2hvrn4ml75ci62apk5hgae')
df = pd.read_csv(url)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df.head(5)

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
0,Armenia,1992,1,AreaPerCap,0.140292,0.199546,0.097188051,0.036888,0.029320,0.000000,5.032351e-01,3A
1,Armenia,1992,1,AreaTotHA,483000.000000,687000.000000,334600,127000.000000,100943.000800,0.000000,1.732543e+06,3A
2,Armenia,1992,1,BiocapPerCap,0.159804,0.135261,0.084003213,0.013742,0.033398,0.000000,4.262086e-01,3A
3,Armenia,1992,1,BiocapTotGHA,550176.242700,465677.972200,289207.1078,47311.551720,114982.279300,0.000000,1.467355e+06,3A
4,Armenia,1992,1,EFConsPerCap,0.387510,0.189462,1.26E-06,0.004165,0.033398,1.114093,1.728629e+00,3A

In [ ]:
df.shape

(72186, 12)

In [ ]:
df.columns

Index(['country', 'year', 'country_code', 'record', 'crop_land',
       'grazing_land', 'forest_land', 'fishing_ground', 'built_up_land',
       'carbon', 'total', 'QScore'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72186 entries, 0 to 72185
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         72186 non-null  object
 1   year            72186 non-null  int64
 2   country_code    72186 non-null  int64
 3   record          72186 non-null  object
 4   crop_land       51714 non-null  float64
 5   grazing_land    51714 non-null  float64
 6   forest_land     51714 non-null  object
 7   fishing_ground  51713 non-null  float64
 8   built_up_land   51713 non-null  float64
 9   carbon          51713 non-null  float64
 10  total           72177 non-null  float64
 11  QScore          72185 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 6.6+ MB

#To check Distribution of Target variable

In [ ]:
df['QScore'].value_counts()

3A    51481
2A    10576
2B    10096
1A       16
1B       16
Name: QScore, dtype: int64

In [ ]:
df.isnull().sum()

country               0
year                  0
country_code          0
record                0
crop_land         20472
grazing_land      20472
forest_land       20472
fishing_ground    20473
built_up_land     20473
carbon            20473
total                 9
QScore                1
dtype: int64

#for simplicity, we will drop the rows with missing values.

In [ ]:
#Drop missing values
df = df.dropna()

In [ ]:
df.isna().sum()

country           0
year              0
country_code      0
record            0
crop_land         0
grazing_land      0
forest_land       0
fishing_ground    0
built_up_land     0
carbon            0
total             0
QScore            0
dtype: int64

#An obvious change in our target variable after removing the missing values is that there are only three classes left

In [ ]:
df['QScore'].value_counts()

3A    51473
2A      224
1A       16
Name: QScore, dtype: int64

#and from the distribution of the 3 classes, we can see that there is an obvious imbalance between the classes.

#There are methods that can be applied to handle this imbalance such as oversampling and undersampling.

#Oversampling involves increasing the number of instances in the class with fewer instances while

#undersampling involves reducing the data points in the class with more instances.

#For now, we will convert this to a binary classification problem by combining class '2A' and '1A'.

In [ ]:
df['QScore'] = df['QScore'].replace(['1A'], '2A') #oversampling as we are increasing 2A with 1A values

In [ ]:
df.QScore.value_counts()

3A    51473
2A      240
Name: QScore, dtype: int64

In [ ]:
df_2A = df[df.QScore=='2A']
df_3A = df[df.QScore=='3A'].sample(350) #undersampling as we are reducing 3A to 350
data_df = df_2A.append(df_3A)

In [ ]:
data_df.head(5)

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
1536,Algeria,2016,4,AreaPerCap,2.072989e-01,8.112722e-01,0.048357265,0.022585,2.998367e-02,0.000000,1.119497e+00,2A
1537,Algeria,2016,4,AreaTotHA,8.417600e+06,3.294260e+07,1963600,917100.000000,1.217520e+06,0.000000,4.545842e+07,2A
1538,Algeria,2016,4,BiocapPerCap,2.021916e-01,2.636077e-01,0.027166736,0.007948,2.924496e-02,0.000000,5.301590e-01,2A
1539,Algeria,2016,4,BiocapTotGHA,8.210214e+06,1.070408e+07,1103135.245,322736.916200,1.187524e+06,0.000000,2.152769e+07,2A
1540,Algeria,2016,4,EFConsPerCap,6.280528e-01,1.810332e-01,0.162800822,0.014729,2.924496e-02,1.391455,2.407316e+00,2A

In [ ]:
data_df.tail(5)

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
37779,Madagascar,1990,129,BiocapTotGHA,4.048800e+06,2.602160e+07,19395296.36,4.809580e+06,572399.229200,0.0,5.484768e+07,3A
43024,Moldova,2007,146,AreaPerCap,5.146961e-01,8.719557e-02,0.090150536,2.325215e-02,0.029992,0.0,7.452865e-01,3A
25970,Guinea,2005,90,BiocapPerCap,3.704488e-01,8.973333e-01,0.795496622,3.634982e-01,0.038674,0.0,2.465451e+00,3A
13689,Congo,2014,46,AreaTotHA,6.270000e+05,1.000000e+07,22349400,8.349000e+05,158557.998700,0.0,3.396986e+07,3A
14601,Cuba,2015,49,AreaTotHA,3.405987e+06,2.834313e+06,3200000,6.074800e+06,342278.015100,0.0,1.585738e+07,3A

In [ ]:
import sklearn.utils
#used to shuffle data

In [ ]:
data_df = sklearn.utils.shuffle(data_df) #shuffle the datas so 2a and 3a are randomly missed

In [ ]:
data_df = data_df.reset_index(drop=True) #reset the table so it start from 0, 1, 2, 3..., instead of random nos
data_df.head(3)

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
0,Iraq,2016,103,EFProdTotGHA,4.605966e+06,626123.288600,86606.15132,46690.871960,1.046806e+06,4.924412e+07,5.565631e+07,2A
1,Tajikistan,2016,208,EFProdPerCap,2.829950e-01,0.128678,0.003938652,0.000200,9.446197e-02,2.141098e-01,7.243837e-01,2A
2,Singapore,1975,200,EFConsPerCap,3.892345e-01,0.097126,0.362438654,0.280494,1.397892e-02,4.795226e-01,1.622795e+00,3A

In [ ]:
data_df.shape
#the size of our data Has been reduced due to undersampling of 3A

(590, 12)

In [ ]:
data_df.QScore.value_counts()

3A    350
2A    240
Name: QScore, dtype: int64

In [ ]:
data_df = data_df.drop(columns=['country_code', 'country', 'year']) #these columns are not needed for our machine learning

In [ ]:
features= data_df.drop(columns='QScore') # qscore was drop to make it our target
target = data_df['QScore']

#split the data into training and testing sets

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.3, random_state=0)

In [ ]:
y_train.value_counts()

3A    244
2A    169
Name: QScore, dtype: int64

#There is still an imbalance in the class distribution. For this, we use SMOTE only on the training data to handle this.


#encode categorical variable to numerical variables
Label Encoding : preprocess/ encode categorical data in numbers(numerical datas) as categorical datas cannot be modelled as the machine learning algorithm only understands numbers

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
encoder = LabelEncoder()
x_train.record = encoder.fit_transform(x_train.record)
x_test.record = encoder.transform(x_test.record)

#Balancing the data using SMOTE only on the training data to handle this.

In [ ]:
import imblearn
from imblearn.over_sampling import SMOTE

In [ ]:
smote = SMOTE(random_state=1)
x_train_balanced, y_balanced = smote.fit_resample(x_train, y_train)

Scaling is done to make data that maybe far from each other closer to each other

minmax scaler transform datas by scaling each of them to a given range

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [ ]:
normalised_train_df = scaler.fit_transform(x_train_balanced.drop(columns=['record']))
normalised_train_df = pd.DataFrame(normalised_train_df, columns=x_train_balanced.drop(columns=['record']).columns)
normalised_train_df['record'] = x_train_balanced['record']

In [ ]:
x_test = x_test.reset_index(drop=True)
normalised_test_df = scaler.transform(x_test.drop(columns=['record']))
normalised_test_df = pd.DataFrame(normalised_test_df, columns=x_test.drop(columns=['record']).columns)
normalised_test_df['record'] = x_test['record']

#Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
log_reg = LogisticRegression()
log_reg.fit(normalised_train_df, y_balanced)

LogisticRegression()

In [ ]:

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression()